{% extends 'base.html.twig' %}

{% block body %}
<h1>Lista użytkowników</h1>

<form method="get">
    <input type="text" name="q" value="{{ search }}" placeholder="Szukaj...">
    <button type="submit">Szukaj</button>
</form>

<ul>
    {% for user in users %}
        <li>
            <strong>{{ user.name }}</strong> ({{ user.email }})
            – <a href="{{ path('user_edit', {id: user.id}) }}">Edytuj</a>
        </li>
    {% else %}
        <li>Brak użytkowników</li>
    {% endfor %}
</ul>
{% endblock %}
